{% extends 'base.html' %}
{% load static %}
{% load mytags %}

{% block title %}{{title|capfirst}}{% endblock %}

{% block content %}
<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="caption">
                    <h2>Магазин одежды</h2>
                    <div class="line-dec"></div>
                    <p>Модные брендовые вещи являются уникальным предложением для тех, кто
                        предпочитает комфорт и обладает хорошим вкусом.
                        <br><br>Наша компания уже более
                        <strong>полувека</strong> создает оригинальные и стильные линейки одежды и аксессуаров.
                        <br><br>Наш <a rel="nofollow" href="http://127.0.0.1:8000/products/">онлайн-магазин</a>
                        работает <strong>круглосуточно</strong>.</p>
                    <div class="main-button">
                        <a href="{% url 'products:index' %}">Заказать!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Ends Here -->

<!-- Items Starts Here -->
<!--<div class="featured-page">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-4 col-sm-12">-->
<!--                <div class="section-heading">-->
<!--                    <div class="line-dec"></div>-->
<!--                    <h1>{{title|capfirst}}</h1>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-8 col-sm-12">-->
<!--                <div id="filters" class="button-group">-->

<!--                    <button class="btn btn-primary" data-filter="*">Все</button>-->


<!--                    {% for category in categories %}-->
<!--                    <button class="btn btn-primary" data-filter="{{ category.name }}">{{ category.name }}</button>-->
<!--                    {% endfor %}-->


<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- Featured Starts Here -->



<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Наши товары</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">

                    {% for product in products %}

                        <a href="{% url 'products:product' product.pk %}">
                            <div class="featured-item">
                                <img src="{{ product.image|media_folder_products }}" alt="{{ product.name|capfirst }}">
                                <h4>{{ product.name|capfirst }}</h4>
                                <h6>${{ product.price|floatformat:"g" }}</h6>
                            </div>
                        </a>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>




<!--<div class="featured container no-gutter">-->

<!--    <div class="row posts">-->

<!--        {% for product in products %}-->
<!--        <div id="{{ product.pk }}" class="item new col-md-4">-->
<!--            <a href="#">-->
<!--                <div class="featured-item">-->
<!--                    <img src="/media/{{ product.image }}" alt="{{ product.name|capfirst }}">-->
<!--                    <h4>{{ product.name }}</h4>-->
<!--                    <h6>${{ product.price }}</h6>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        {% endfor %}-->

<!--    </div>-->
<!--</div>-->


<!-- Featred Ends Here -->
{% endblock %}

{% block js %}
        <script src="{% static 'stepshop/assets/js/isotope.js' %}"></script>
{% endblock %}
